@font-face {
    font-family: 'neonfont';
    src: url('/NEONLEDLight.ttf')
    format('truetype');  
}

.NavbarLOGO {
    font-family: 'neonfont', 'sans-serif' ;
    margin-right: auto;
    font-size: 50px;
}

.link a {
    padding-right: 20px;
    font-size: 20px;
  }