.wrapper {
    text-align: center;
    color: black;
    list-style: none;
}

.team {
    text-align: center;
}

.flexcontainer {
    display: flexbox;
    text-align: center;
    align-content: center;
}

.flexcontainer div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }